name: MSBuild
on:
  push:
  pull_request:
env:
  SOLUTION_FILE_PATH: .
  BUILD_CONFIGURATION: Release
permissions:
  contents: read
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive
    
    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2
    
    - name: Restore NuGet packages
      working-directory: ${{ env.GITHUB_WORKSPACE }}
      run: nuget restore ${{ env.SOLUTION_FILE_PATH }}
    
    - name: Build solution
      working-directory: ${{ env.GITHUB_WORKSPACE }}
      run: msbuild /m /p:Configuration=${{ env.BUILD_CONFIGURATION }} /p:Platform=x86 ${{ env.SOLUTION_FILE_PATH }}
    
    - name: Download Ultimate ASI Loader x86
      uses: robinraju/release-downloader@v1.12
      with:
        repository: "ThirteenAG/Ultimate-ASI-Loader"
        tag: "Win32-latest"
        fileName: "ddraw-Win32.zip"
    
    - name: Prepare output folder
      shell: cmd
      run: |
        mkdir upload
        mkdir upload\plugins
        7z e ddraw-Win32.zip ddraw.dll -oupload -y
        copy "Release\CoDUO_QOL.asi" upload\plugins\
        copy "Release\CoDUO_QOL.pdb" upload\plugins\
        xcopy gameroot\menuwide upload\menuwide /E /I /Y
        del ddraw-Win32.zip
    
    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: CoDUO_QOL
        path: upload
